*.z04 filter=lfs diff=lfs merge=lfs -text
*.z07 filter=lfs diff=lfs merge=lfs -text
*.z09 filter=lfs diff=lfs merge=lfs -text
*.z13 filter=lfs diff=lfs merge=lfs -text
*.z01 filter=lfs diff=lfs merge=lfs -text
*.z08 filter=lfs diff=lfs merge=lfs -text
*.z12 filter=lfs diff=lfs merge=lfs -text
*.z10 filter=lfs diff=lfs merge=lfs -text
*.z11 filter=lfs diff=lfs merge=lfs -text
*.z02 filter=lfs diff=lfs merge=lfs -text
*.z03 filter=lfs diff=lfs merge=lfs -text
*.z05 filter=lfs diff=lfs merge=lfs -text
*.z06 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
